.box {
  background-image: url('/fundo-principal.png');
  background-size: cover;
  height: 100vh;
}

.hello {
  margin: 0;
}

.row_1 {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.row_1 button {
  background: #F16A6A;
  border: none;
  color: white;
  padding: 10px 30px;
}

.tabs {
  margin: 10px 20px;
}

.tabs button {
  margin: 0 10px;
  background: #3EBDAE;
  border: none;
  color: white;
  padding: 10px 20px;
}

.grid {
  border-spacing: 10px;
  margin: 10px 20px;
}

.item {
  text-align: left;
}