<div class="box">
  <div class="center">
    <div class="login">
      <img class="foto-login" src="../../assets/foto-login.png">
      <h1>Manutenção de Tratores</h1>
      <div class="form">
        <p>Nome</p>
        <input type="text" value="admin">
        <p>Senha</p>
        <input type="text" value="admin">
      </div>
      <select>
        <option>Matriz</option>
        <option>Proprietário</option>
        <option>Concessionaria</option>
      </select>
      <button (click)="login()">Login</button>
    </div>
  </div>
</div>