<div class="box">
  <div class="row-1">
    <h1>Olá, Proprietário</h1>
    <button (click)="logout()">Logout</button>
  </div>
  <div class="tabs">
    <button>Cadastrar trator</button>
    <button>Tratores</button>
    <button>Revisões pendentes</button>
    <button>Revisões concluidas</button> <br>
  </div>
  <table>
    <tr>
      <th>Proprietário</th>
      <th>Fazenda</th>
      <th>Trator</th>
      <th>Modelo</th>
      <th>Chassi</th>
      <th>Data da Compra</th>
    </tr>
    <tr class="table__row-2">
      <td><input type="text" value="Lorem"></td>
      <td><input type="text" value="Tres corações"></td>
      <td><input type="text" value="Massey Ferguson"></td>
      <td><input type="text" value="MF-275"></td>
      <td><input type="text" value="147852369"></td>
      <td><input type="text" value="25/04/2021"></td>
    </tr>
  </table>
</div>